
@{
    ViewBag.Title = "AktifCagrilar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama</td>
        <td>19 Tem 2021</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama</td>
        <td>19 Tem 2021</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama</td>
        <td>19 Tem 2021</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama</td>
        <td>19 Tem 2021</td>
    </tr>
</table>