@using MvcFirmaCagri.Models.entity
@model List<TBLCagriDetay>
@{
    ViewBag.Title = "CagriDetay";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}



<div class="main-content p-5">

    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>Çağrı Detayları</h3>
    <br />
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th>Saat</th>
        </tr>

        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.Aciklama</td>
                <td>@x.Tarih</td>
                <td>@x.Saat</td>
            </tr>
        }
    </table>

</div>
