@model MvcFirmaCagri.Models.entity.TBLCagrilar
@{
    ViewBag.Title = "YeniCagri";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}




<div class="main-content p-5">

   
    <br />
    <br />
    <h2>Yeni Çağrı Ekleme  Sayfası</h2>
    <br />
    <br />

    <form method="post">
        @Html.Label("Konu")
        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })

        <br />
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.Aciklama, 10, 3, new { @class = "form-control" })
        <br />
        <br />
        <br />

        <button class="btn btn-primary">Çağrı Oluştur</button>
    </form>
</div>